.nav {
  font-size: 24px;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(4, 50, 0, 0.1), 0 6px 12px rgba(0, 50, 0, 0.1);
}

a {
  color: #000;
}
